<h1 class="title-info">Tabela de jogos</h1>
<hr>
<div class="tabela">
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Jogo</th>
            <th scope="col">Ano de Lançamento</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            {{#each games}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.year}}</td>
            <td>{{this.category}}</td>
            <td>
              <button type="button" class="btn btn-primary">Detalhes<i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success">Excluir<i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger">Alterar<i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
