.formulario{
    margin-top: 10px;
}

.botao-cadastrar {
    margin-top: 10px;
}

.table-jogos {
    margin-top: 30px;
}

.body1 {
    padding: 10px 10px 10px 10px;
}

.tabela {
    margin-top: 35px;
}

.title-info {
    text-align: center;
    margin-right: 100px;
}

.title-cadastrar {
    text-align: center;
    margin-right: 100px;
}

.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  