.formulario{
    margin-top: 10px;
}

.botao-cadastrar {
    margin-top: 10px;
}

.container-cards {
    margin-top: 30px;
}

.card-subtitle {
    text-align: center;
}

.table-jogos {
    margin-top: 30px;
}

.body1 {
    padding: 10px 10px 10px 10px;
}